
<h1><%=@dojo.branch %> Dojo</h1>
<ul>
    <li>Address:<%=@dojo.street %> </li>
    <li>City:<%=@dojo.city%>  State: <%=@dojo.state %></li>
</ul>
<a href="<%= @dojo.id %>/edit">Edit</a>
<a href="/dojos">Home</a>
